# 動態網頁爬蟲 - 使用 Selenium

* 了解 Selenium 用於動態網頁爬蟲的原理
* 能夠使用 Selenium 撰寫動態網頁爬蟲

In [2]:
pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
Requirement already satisfied: urllib3 in c:\users\perio\anaconda3\lib\site-packages (from selenium) (1.24.2)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Note: you may need to restart the kernel to use updated packages.

## 作業目標


* 根據範例使用 selenuim 取出 高雄市小港區 2019 年 空氣品質 資料，並用一個適合的資料結構儲存
* Hint: 將所有資料存在一個變數當中

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

browser = webdriver.Chrome(executable_path='chromedriver')
browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('29')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2014')


browser.find_element_by_id('ctl05_btnQuery').click()

![](https://imgur.com/LwGGT8c.jpg)

In [2]:
# 取得資料（等瀏覽器資料出現後才執行）
html_source = browser.page_source

In [3]:
soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')
table

<table align="Center" border="1" cellpadding="3" cellspacing="0" class="TABLE_G" id="ctl05_gv" rules="all" style="border-color:Black;border-width:1px;border-style:None;border-collapse:collapse;">
<tbody><tr style="color:Black;font-weight:normal;">
<th scope="col">監測項目</th><th scope="col">單位</th><th scope="col">監測日期</th><th scope="col">監測值</th><th scope="col">標註</th>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">SO2</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2014/01</td><td>4.20</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/02</td><td>2.50</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/03</td><td>3.80</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/04</td><td>3.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/05</td><td>3.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/06</td><td>3</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/07</td><td>3.70</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/08</td><td>3.40</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/09</td><td>3.70</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/10</td><td>2.80</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/11</td><td>2.70</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/12</td><td>3.10</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">CO</td><td class="no-alt" rowspan="12" valign="top">ppm</td><td>2014/01</td><td>0.48</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/02</td><td>0.38</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/03</td><td>0.47</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/04</td><td>0.39</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/05</td><td>0.35</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/06</td><td>0.27</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/07</td><td>0.22</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/08</td><td>0.23</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/09</td><td>0.31</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/10</td><td>0.35</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/11</td><td>0.41</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/12</td><td>0.42</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">O3</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2014/01</td><td>30.70</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/02</td><td>31.90</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/03</td><td>35.10</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/04</td><td>41.50</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/05</td><td>26.80</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/06</td><td>23.50</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/07</td><td>24.30</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/08</td><td>24.70</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/09</td><td>27.60</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/10</td><td>43.20</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/11</td><td>32.80</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/12</td><td>28.80</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">PM10</td><td class="no-alt" rowspan="12" valign="top">μg/m3</td><td>2014/01</td><td>72</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/02</td><td>50</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/03</td><td>74</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/04</td><td>64</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/05</td><td>39</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/06</td><td>34</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/07</td><td>35</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/08</td><td>32</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/09</td><td>47</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/10</td><td>69</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/11</td><td>67</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/12</td><td>60</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NOx</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2014/01</td><td>23.63</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/02</td><td>16.89</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/03</td><td>21.78</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/04</td><td>17.06</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/05</td><td>16.66</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/06</td><td>13.82</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/07</td><td>12.16</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/08</td><td>12.46</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/09</td><td>15.15</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/10</td><td>16.72</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/11</td><td>18.61</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/12</td><td>19.20</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2014/01</td><td>4.75</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/02</td><td>2.53</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/03</td><td>3.40</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/04</td><td>1.56</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/05</td><td>2.37</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/06</td><td>2.17</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/07</td><td>2.04</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/08</td><td>2.09</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/09</td><td>2</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/10</td><td>1.88</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/11</td><td>2.63</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/12</td><td>3.17</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="12" style="white-space:nowrap;" valign="top">NO2</td><td class="no-alt" rowspan="12" valign="top">ppb</td><td>2014/01</td><td>18.88</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/02</td><td>14.36</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/03</td><td>18.38</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/04</td><td>15.49</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/05</td><td>14.28</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/06</td><td>11.65</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/07</td><td>10.11</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/08</td><td>10.36</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/09</td><td>13.14</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/10</td><td>14.82</td><td> </td>
</tr><tr style="color:Black;">
<td>2014/11</td><td>15.98</td><td> </td>
</tr><tr class="ALT" style="color:Black;">
<td>2014/12</td><td>16.02</td><td> </td>
</tr><tr style="color:Black;">
<td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">THC</td><td class="no-alt" rowspan="1" valign="top">ppm</td><td> </td><td> </td><td>無此測項</td>
</tr><tr class="ALT" style="color:Black;">
<td class="no-alt" rowspan="1" style="white-space:nowrap;" valign="top">NMHC</td><td class="no-alt" rowspan="1" valign="top">ppm</td><td> </td><td> </td><td>無此測項</td>
</tr><tr style="color:Black;">
<td style="white-space:nowrap;">CH4</td><td>ppm</td><td> </td><td> </td><td>無此測項</td>
</tr>
</tbody></table>

In [18]:
import re

In [24]:
Tr = table.find_all('tr')
air_con = ({})
count = 0
for tr in Tr:
    for td in tr.find_all('td'):        
        try:
            if(td['style'] == 'white-space:nowrap;'):
                print(td.text)
                count = 0
                row = dict({})
                air_con.update({td.text: row})
        except:
            count += 1
            if (count%3 == 2):
                key = td.text
            if (count%3 == 0):
                value = td.text
                print(key, ":", value)
                row.update({key: value})
            continue

SO2
2014/01 : 4.20
2014/02 : 2.50
2014/03 : 3.80
2014/04 : 3.40
2014/05 : 3.10
2014/06 : 3
2014/07 : 3.70
2014/08 : 3.40
2014/09 : 3.70
2014/10 : 2.80
2014/11 : 2.70
2014/12 : 3.10
CO
2014/01 : 0.48
2014/02 : 0.38
2014/03 : 0.47
2014/04 : 0.39
2014/05 : 0.35
2014/06 : 0.27
2014/07 : 0.22
2014/08 : 0.23
2014/09 : 0.31
2014/10 : 0.35
2014/11 : 0.41
2014/12 : 0.42
O3
2014/01 : 30.70
2014/02 : 31.90
2014/03 : 35.10
2014/04 : 41.50
2014/05 : 26.80
2014/06 : 23.50
2014/07 : 24.30
2014/08 : 24.70
2014/09 : 27.60
2014/10 : 43.20
2014/11 : 32.80
2014/12 : 28.80
PM10
2014/01 : 72
2014/02 : 50
2014/03 : 74
2014/04 : 64
2014/05 : 39
2014/06 : 34
2014/07 : 35
2014/08 : 32
2014/09 : 47
2014/10 : 69
2014/11 : 67
2014/12 : 60
NOx
2014/01 : 23.63
2014/02 : 16.89
2014/03 : 21.78
2014/04 : 17.06
2014/05 : 16.66
2014/06 : 13.82
2014/07 : 12.16
2014/08 : 12.46
2014/09 : 15.15
2014/10 : 16.72
2014/11 : 18.61
2014/12 : 19.20
NO
2014/01 : 4.75
2014/02 : 2.53
2014/03 : 3.40
2014/04 : 1.56
2014/05 : 2.37
2014/06 : 2.17
2014/07 : 2.04
2014/08 : 2.09
2014/09 : 2
2014/10 : 1.88
2014/11 : 2.63
2014/12 : 3.17
NO2
2014/01 : 18.88
2014/02 : 14.36
2014/03 : 18.38
2014/04 : 15.49
2014/05 : 14.28
2014/06 : 11.65
2014/07 : 10.11
2014/08 : 10.36
2014/09 : 13.14
2014/10 : 14.82
2014/11 : 15.98
2014/12 : 16.02
THC
  :
NMHC
  :
CH4
  :

In [25]:
air_con

{'SO2': {'2014/01': '4.20',
  '2014/02': '2.50',
  '2014/03': '3.80',
  '2014/04': '3.40',
  '2014/05': '3.10',
  '2014/06': '3',
  '2014/07': '3.70',
  '2014/08': '3.40',
  '2014/09': '3.70',
  '2014/10': '2.80',
  '2014/11': '2.70',
  '2014/12': '3.10'},
 'CO': {'2014/01': '0.48',
  '2014/02': '0.38',
  '2014/03': '0.47',
  '2014/04': '0.39',
  '2014/05': '0.35',
  '2014/06': '0.27',
  '2014/07': '0.22',
  '2014/08': '0.23',
  '2014/09': '0.31',
  '2014/10': '0.35',
  '2014/11': '0.41',
  '2014/12': '0.42'},
 'O3': {'2014/01': '30.70',
  '2014/02': '31.90',
  '2014/03': '35.10',
  '2014/04': '41.50',
  '2014/05': '26.80',
  '2014/06': '23.50',
  '2014/07': '24.30',
  '2014/08': '24.70',
  '2014/09': '27.60',
  '2014/10': '43.20',
  '2014/11': '32.80',
  '2014/12': '28.80'},
 'PM10': {'2014/01': '72',
  '2014/02': '50',
  '2014/03': '74',
  '2014/04': '64',
  '2014/05': '39',
  '2014/06': '34',
  '2014/07': '35',
  '2014/08': '32',
  '2014/09': '47',
  '2014/10': '69',
  '2014/11': '67',
  '2014/12': '60'},
 'NOx': {'2014/01': '23.63',
  '2014/02': '16.89',
  '2014/03': '21.78',
  '2014/04': '17.06',
  '2014/05': '16.66',
  '2014/06': '13.82',
  '2014/07': '12.16',
  '2014/08': '12.46',
  '2014/09': '15.15',
  '2014/10': '16.72',
  '2014/11': '18.61',
  '2014/12': '19.20'},
 'NO': {'2014/01': '4.75',
  '2014/02': '2.53',
  '2014/03': '3.40',
  '2014/04': '1.56',
  '2014/05': '2.37',
  '2014/06': '2.17',
  '2014/07': '2.04',
  '2014/08': '2.09',
  '2014/09': '2',
  '2014/10': '1.88',
  '2014/11': '2.63',
  '2014/12': '3.17'},
 'NO2': {'2014/01': '18.88',
  '2014/02': '14.36',
  '2014/03': '18.38',
  '2014/04': '15.49',
  '2014/05': '14.28',
  '2014/06': '11.65',
  '2014/07': '10.11',
  '2014/08': '10.36',
  '2014/09': '13.14',
  '2014/10': '14.82',
  '2014/11': '15.98',
  '2014/12': '16.02'},
 'THC': {'\xa0': '\xa0'},
 'NMHC': {'\xa0': '\xa0'},
 'CH4': {'\xa0': '\xa0'}}

In [27]:
import pandas as pd
pd.DataFrame(air_con)

          SO2    CO     O3 PM10    NOx    NO    NO2  THC NMHC  CH4
2014/01  4.20  0.48  30.70   72  23.63  4.75  18.88  NaN  NaN  NaN
2014/02  2.50  0.38  31.90   50  16.89  2.53  14.36  NaN  NaN  NaN
2014/03  3.80  0.47  35.10   74  21.78  3.40  18.38  NaN  NaN  NaN
2014/04  3.40  0.39  41.50   64  17.06  1.56  15.49  NaN  NaN  NaN
2014/05  3.10  0.35  26.80   39  16.66  2.37  14.28  NaN  NaN  NaN
2014/06     3  0.27  23.50   34  13.82  2.17  11.65  NaN  NaN  NaN
2014/07  3.70  0.22  24.30   35  12.16  2.04  10.11  NaN  NaN  NaN
2014/08  3.40  0.23  24.70   32  12.46  2.09  10.36  NaN  NaN  NaN
2014/09  3.70  0.31  27.60   47  15.15     2  13.14  NaN  NaN  NaN
2014/10  2.80  0.35  43.20   69  16.72  1.88  14.82  NaN  NaN  NaN
2014/11  2.70  0.41  32.80   67  18.61  2.63  15.98  NaN  NaN  NaN
2014/12  3.10  0.42  28.80   60  19.20  3.17  16.02  NaN  NaN  NaN
          NaN   NaN    NaN  NaN    NaN   NaN    NaN